body {
   font-family: 'Montserrat', sans-serif!important;
}
#image-container .card-img {
    width: 80px;
    height: 80px;
}

#image-container .card-p-text {
   margin-left: 7rem!important;
}
#image-container .p-name {
   margin-left: 1.5rem!important;
}
#image-container .card {
   box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
    border-radius: 8px;
    margin-bottom: 4rem;
}
#image-container a {
  color: black;
  cursor: pointer;
}
#image-container .collection:hover{
   color: #c4c4c4;
}
#image-container .collectp-right-textion{
   margin-left: 2rem;
}